<div class=" ">
    <div class="main">
            <div class="row text-center">
                <div class="col-md-4">
                    <h4>LOCATION</h4>
                    <P>2215 John Daniel Drive</P>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="col-md-4">
                    <h4>AROUND THE WEB</h4>
                    <div>
                        <span class="border rounded rounded-circle mx-1"><i class="fa-brands fa-facebook"></i></span>
                        <span class="border rounded rounded-circle mx-1"><i class="fa-brands fa-twitter"></i></span>
                        <span class="border rounded rounded-circle mx-1"><i class="fa-brands fa-linkedin-in"></i></span>
                        <span class="border rounded rounded-circle mx-1"><i class="fa-solid fa-globe"></i></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>ABOUT FREELANCER</h4>
                    <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
                </div>
            </div>
    </div>
    <div class="text-center sub">
        <p>Copyright<span>&copy;</span>Your Website 2021</p>
    </div>
</div>
