<div class="contact d-flex align-items-center">
    <div class="container">
        <div class="text-center">
            <h1>CONATCT SECTION</h1>
            <div class="icon my-3">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="mt-5 p-5">
            <div class="mb-4">
                <input type="text" placeholder="userName" class="border border-0 border-bottom rounded-bottom p-3 w-100">
            </div>
            <div class="mb-4 ">
                <input type="text" placeholder="userAge" class="border border-0 border-bottom rounded-bottom p-3 w-100">
            </div>
            <div class="mb-4">
                <input type="email" placeholder="userEmail" class="border border-0 border-bottom rounded-bottom p-3 w-100">
            </div>
            <div class="mb-4">
                <input type="password" placeholder="userPassword" class="border border-0 border-bottom rounded-bottom p-3 w-100">
            </div>
            <button class="btn text-light " style="background-color:#1abc9c;">Send Message</button>
        </div>
    </div>
</div>
